<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Créer une nouvelle tache
        </h1>
        <input #taskTitleInput class="input is-rounded has-background-light is-medium" type="text"  placeholder="Entrez le nom de la tache..." style="margin-bottom:20px" >
        <input #taskDescriptionInput class="input is-rounded has-background-light is-medium " type="text" placeholder="Entrez la description de la tache..." style="margin-bottom:20px;">
        <input #taskDeadlineInput class="input is-rounded has-background-light is-medium " type="date" [ngModel]="today | date:'yyyy-MM-dd'"  (ngModelChange)="today = $event" name="dt" >

        <div class="buttons is-right" style="margin-top: 30px;">
            <button class="button is-medium is-rounded" routerLink="/">Annuler</button>
            <button class="button is-rounded has-text-white is-primary is-medium" (click)="createTask(taskTitleInput.value, taskDescriptionInput.value )">Créer la tâche</button>
        </div>
    </div>
</div>