<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Modifier la liste
        </h1>
        <input #listTitleInput class="input is-rounded has-background-light is-medium" type="text" placeholder="Entrez le nouveau nom de la liste...">
        <div class="buttons is-right" style="margin-top: 30px;">
            <button class="button is-rounded is-medium" routerLink="/">Annuler</button>
            <button class="button is-rounded has-text-white is-primary is-medium" (click)="updateList(listTitleInput.value)">Modifier</button>
        </div>
    </div>
</div>